

.header {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  grid-area: header;
  background-color:white;

  margin: 0.1rem;
  margin-right: 1%;
  border: 1px solid black;
  border-radius: 25px;
}

.header > div {
  margin: auto;
  width: auto;
  font-size: 100%;
  border-bottom: 2px solid white;
}

.header > div:hover {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  border-bottom: 2px solid gray;
  border-radius: 2px;
}

.sidebar {
  display: inline-block;
  grid-area: sidebar;
  #background-color: white;

  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  margin-left: 3%;
  margin-right: 3%;
  
  overflow: hidden;
}

.sidebar > ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0%;
  font-size: 1.5vw;
}

.sidebar > ul >li {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 0.9rem;
  #border: 1px solid gray;
  text-align: left;
  border-radius: 2px;
}

.sidebar > ul >li:hover {
  #border: 1px solid gray;
  text-align: left;
  border-radius: 2px;
  background-color: #f0f0f0;
}
.content { 
  overflow: hidden;
  grid-area: content;
  #background-color: white;
  #border: 1px solid black; 
  #border-radius: 4px;

  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  margin-right: 1.5%;
}

.footer {
  visibility: hidden;

  background-color: green;
  grid-area: footer;
}


.container {
  height: 100%;
  overflow: hidden;
  #outline: 0.5px solid gray;
  border-radius: 5px;
  #background-color: white;


  display: grid;
  grid-gap: 0.3%;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
}

body {
  background-color: #3b3b3b;
}

.contentDiv {

  background-color: white;


  border: 1px solid black; 
  border-radius: 10px;
}

.contentDiv > div ,p  {
  margin-left: 1%;
}

.contentTitle {
  padding-left: 1%;
  font-size: 100%;
  margin-top: 0.5%;

  border-left: 1px solid gray;
  border-bottom: 1px solid gray;  
} 
.contentDate {
  font-size: 60%;
  padding-left: 3em;
}
.contentSynopsis {

  border-left: 1px solid gray;  
  font-size: 100%;
  white-space: pre-line;
}
