.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  grid-area: header;
  background-color:white;

  border: 1px solid black;
  border-radius: 5px;

  overflow: hidden;
}

#heading {
  width: auto;
  height: auto;
  border-radius: 5px;

  #text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1em;
}

#heading:hover {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  transition: transform 175ms;
}

div[id*="headerDate_"]  {
  margin-left:0.5rem;
  font-size: 0.8em;
  border-radius: 5px;

  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

div[id*="headerDate_"]:hover  {
  background-color: #d0d7d9;
  transition: transform 200ms;
}


.sidebar {
  display: inline-block;
  grid-area: sidebar;
  background-color: white;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3%;
  margin-right: 3%;
  
  overflow: hidden;
  border-radius: 5px;
}

.sidebar > ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0%;
  #font-size: 1.5vw;
  font-size: 0.8em;
}

.sidebar > ul >li {
  background-color: white;
  border-radius: 7px;
  #border: 1px solid gray;
  text-align: left;
  border-radius: 2px;

  padding-left: 5%;
}


.sidebar > ul >li:hover {
  #border: 1px solid gray;
  text-align: left;
  border-radius: 2px;
  background-color: #f0f0f0;
}
.content { 
  overflow: hidden;
  grid-area: content;
  #background-color: white;
  #border: 1px solid black; 
  #border-radius: 4px;

  margin-bottom: 0.1rem;
  margin-right: 1.5%;
}

.content > div:hover {
  background-color: #f0f0f0;
}

.footer {
  visibility: hidden;

  background-color: green;
  grid-area: footer;
}


.container {
  height: 100%;
  overflow: hidden;
  #outline: 0.5px solid gray;
  border-radius: 5px;
  #background-color: white;


  display: grid;
  grid-gap: 0.3%;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-areas:
    "header content content content"
    "header content content content"
    "sidebar content content content"
    "sidebar content content content"
}

body {
  background-color: #3b3b3b;
  #background-image: linear-gradient( #3b3b3b, #677475 );
  height: 100%;
}



.contentDiv {

  background-color: white;


  border: 1px solid black; 
  border-radius: 10px;
}

.contentDiv > div ,p  {
  margin-left: 1%;
}

.contentTitle {
  padding-left: 1%;
  font-size: 100%;
  margin-top: 0.5%;

  border-left: 1px solid gray;
  border-bottom: 1px solid gray;  
} 
.contentDate {
  font-size: 60%;
  padding-left: 3em;
}
.contentSynopsis {

  border-left: 1px solid gray;  
  font-size: 100%;
  white-space: pre-line;
}
